// прееменные
%bottomTS {
  display: block;
  width: 240px;
  height: 160px;
  font-family: 'TTLakesMed';
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: white;
  background-image: url('../img/go.svg');
  background-repeat: no-repeat;
  background-position: 160px 100px;
}
// основная часть бренды

.technique__container {
  background-color: #f8f8f8;
  border-bottom: 2px solid #d9fff5;
  @media (min-width: $breakpoint_md) {
    width: 1120px;
  }
  @media (min-width: $breakpoint_xl) {
    margin-left: 320px;
  }
}
.technique__content {
  margin: auto;
  height: 310px;
  width: auto;
  @media (min-width: $breakpoint_md) {
    height: 340px;
    width: 1120px;
  }
  @media (min-width: $breakpoint_ml) {
    height: 300px;
  }
}
.technique__content.expanded {
  @media (min-width: $breakpoint_md) {
    height: 530px;
  }
}
.technique__name {
  display: flex;
  align-items: center;
  height: 80px;
  color: #7e7e82;
  padding-left: 20px;
  font-size: 16px;
  background-image: linear-gradient(90deg, #f8f8f8 2%, #ffffff 98%);
  width: 100%;
}
.wrapperT__container {
  padding-left: 10px;
  padding-top: 20px;
  flex-wrap: nowrap;
  width: 1090px !important;
  height: auto;
  @media (min-width: $breakpoint_md) {
    white-space: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    height: 380px !important;
    width: 780px !important;
    margin: 0px;
  }
  @media (min-width: $breakpoint_ml) {
    height: 270px !important;
    width: 1120px !important;
  }
}
.swiperTechnique.expanded {
  @media (min-width: $breakpoint_md) {
    height: 380px;
  }
}
.technique__laptop,
.technique__tablet,
.technique__pc,
.technique__monitor {
  @extend %bottomTS;
  padding: 20px 0px 0px 20px;
  @media (min-width: $breakpoint_md) {
    width: 224px;
  }
  @media (min-width: $breakpoint_xl) {
    width: 240px;
  }
}
.technique__more {
  display: none;
  @media (min-width: $breakpoint_md) {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
  }
  @media (min-width: $breakpoint_ml) {
    display: none;
  }
}
.technique__showMore {
  font-family: 'TTLakesMed';
  font-size: 16px;
  color: black;
  padding-left: 10px;
  cursor: pointer;
  &::before {
    content: '';
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    background-image: url('../img/expand.svg');
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    content: attr(data-icon);
    transition: transform 0.2s ease;
  }
}
.technique__showMore.rotate::before {
  transform: rotate(180deg);
}
